{
  "presets": [
    "env",
    "react",
    "stage-2",
    "flow"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-export-extensions",
        "transform-flow-strip-types",
        "transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }],
        "transform-export-extensions"
      ]
    }
  }
}
