{
  "presets": [
    "env",
    "react",
    "stage-2",
    "flow"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-export-extensions",
        "transform-flow-strip-types",
        "babel-plugin-transform-react-remove-prop-types"
      ]
    },
    "development": {
      "plugins": [
        "transform-export-extensions"
      ]
    }
  }
}
